body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12300_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12300 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u12300_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12301_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12301 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  font-size:16px;
}
#u12301_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12302_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u12302 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:12px;
  width:12px;
  height:22px;
  font-size:18px;
}
#u12302_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u12303_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:197px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12303 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:78px;
  width:188px;
  height:197px;
}
#u12303_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:69px;
}
#u12304 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:98px;
  width:154px;
  height:69px;
}
#u12304_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12305_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12305 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:177px;
  width:154px;
  height:48px;
}
#u12305_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u12306 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:10px;
  width:300px;
  height:25px;
}
#u12306_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u12307_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u12307 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:11px;
  width:25px;
  height:25px;
}
#u12307_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12308_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12308 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:12px;
  width:20px;
  height:20px;
}
#u12308_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12309_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u12309 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:15px;
  width:15px;
  height:15px;
  color:#FFFFFF;
}
#u12309_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u12310_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:197px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12310 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:78px;
  width:188px;
  height:197px;
}
#u12310_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12311_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:69px;
}
#u12311 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:98px;
  width:154px;
  height:69px;
}
#u12311_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12312_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u12312 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:177px;
  width:154px;
  height:48px;
  color:#CCCCCC;
}
#u12312_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u12313_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:197px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12313 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:274px;
  width:188px;
  height:197px;
}
#u12313_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12314_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:69px;
}
#u12314 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:294px;
  width:154px;
  height:69px;
}
#u12314_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12315_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12315 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:373px;
  width:154px;
  height:48px;
}
#u12315_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u12316_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:197px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12316 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:274px;
  width:188px;
  height:197px;
}
#u12316_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12317_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:69px;
}
#u12317 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:294px;
  width:154px;
  height:69px;
}
#u12317_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12318_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12318 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:373px;
  width:154px;
  height:48px;
}
#u12318_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u12319_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:197px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12319 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:470px;
  width:188px;
  height:197px;
}
#u12319_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12320_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:69px;
}
#u12320 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:490px;
  width:154px;
  height:69px;
}
#u12320_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12321_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12321 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:569px;
  width:154px;
  height:48px;
}
#u12321_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u12322_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:197px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12322 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:470px;
  width:188px;
  height:197px;
}
#u12322_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12323_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:69px;
}
#u12323 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:490px;
  width:154px;
  height:69px;
}
#u12323_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12324_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12324 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:569px;
  width:154px;
  height:48px;
}
#u12324_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u12325 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12326 {
  border-width:0px;
  position:absolute;
  left:701px;
  top:0px;
  width:679px;
  height:186px;
}
#u12327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u12327 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u12327_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u12328_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:36px;
}
#u12328 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:579px;
  height:36px;
  color:#515151;
  text-align:left;
}
#u12328_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:575px;
  word-wrap:break-word;
}
#u12329_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12329 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:100px;
  height:30px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u12329_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u12330_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:30px;
}
#u12330 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:36px;
  width:579px;
  height:30px;
  text-align:left;
}
#u12330_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12331_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12331 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:100px;
  height:30px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u12331_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u12332_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:30px;
}
#u12332 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:66px;
  width:579px;
  height:30px;
  text-align:left;
}
#u12332_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:575px;
  word-wrap:break-word;
}
#u12333_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12333 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:96px;
  width:100px;
  height:30px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u12333_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u12334_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:30px;
}
#u12334 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:96px;
  width:579px;
  height:30px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#515151;
  text-align:left;
}
#u12334_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:575px;
  word-wrap:break-word;
}
#u12335_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12335 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:126px;
  width:100px;
  height:30px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u12335_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u12336_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:30px;
}
#u12336 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:126px;
  width:579px;
  height:30px;
  color:#515151;
  text-align:left;
}
#u12336_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12337_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12337 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:156px;
  width:100px;
  height:30px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#515151;
  text-align:left;
}
#u12337_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u12338_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:30px;
}
#u12338 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:156px;
  width:579px;
  height:30px;
  color:#515151;
  text-align:left;
}
#u12338_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12339 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12340 {
  border-width:0px;
  position:absolute;
  left:701px;
  top:185px;
  width:679px;
  height:278px;
}
#u12341_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u12341 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u12341_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:108px;
  word-wrap:break-word;
}
#u12342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u12342 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:0px;
  width:144px;
  height:30px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u12342_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:140px;
  word-wrap:break-word;
}
#u12343_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:30px;
}
#u12343 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:0px;
  width:273px;
  height:30px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u12343_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:269px;
  word-wrap:break-word;
}
#u12344_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u12344 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:0px;
  width:150px;
  height:30px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u12344_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:146px;
  word-wrap:break-word;
}
#u12345_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:36px;
}
#u12345 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:112px;
  height:36px;
  text-align:center;
}
#u12345_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:108px;
  word-wrap:break-word;
}
#u12346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:36px;
}
#u12346 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:30px;
  width:144px;
  height:36px;
}
#u12346_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12347_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:36px;
}
#u12347 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:30px;
  width:273px;
  height:36px;
  text-align:left;
}
#u12347_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u12348 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:30px;
  width:150px;
  height:36px;
}
#u12348_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:36px;
}
#u12349 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:112px;
  height:36px;
  text-align:center;
}
#u12349_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:108px;
  word-wrap:break-word;
}
#u12350_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:36px;
}
#u12350 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:66px;
  width:144px;
  height:36px;
}
#u12350_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:36px;
}
#u12351 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:66px;
  width:273px;
  height:36px;
  text-align:left;
}
#u12351_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u12352 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:66px;
  width:150px;
  height:36px;
}
#u12352_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:36px;
}
#u12353 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:102px;
  width:112px;
  height:36px;
  text-align:center;
}
#u12353_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:108px;
  word-wrap:break-word;
}
#u12354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:36px;
}
#u12354 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:102px;
  width:144px;
  height:36px;
}
#u12354_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:36px;
}
#u12355 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:102px;
  width:273px;
  height:36px;
  text-align:left;
}
#u12355_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12356_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u12356 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:102px;
  width:150px;
  height:36px;
}
#u12356_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12357_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:36px;
}
#u12357 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:138px;
  width:112px;
  height:36px;
  text-align:center;
}
#u12357_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:108px;
  word-wrap:break-word;
}
#u12358_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:36px;
}
#u12358 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:138px;
  width:144px;
  height:36px;
  font-size:14px;
}
#u12358_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12359_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:36px;
}
#u12359 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:138px;
  width:273px;
  height:36px;
  text-align:left;
}
#u12359_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12360_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u12360 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:138px;
  width:150px;
  height:36px;
}
#u12360_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12361_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:36px;
}
#u12361 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:174px;
  width:112px;
  height:36px;
  text-align:center;
}
#u12361_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:108px;
  word-wrap:break-word;
}
#u12362_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:36px;
}
#u12362 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:174px;
  width:144px;
  height:36px;
  font-size:14px;
}
#u12362_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12363_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:36px;
}
#u12363 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:174px;
  width:273px;
  height:36px;
  text-align:left;
}
#u12363_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12364_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u12364 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:174px;
  width:150px;
  height:36px;
}
#u12364_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12365_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:34px;
}
#u12365 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:210px;
  width:112px;
  height:34px;
  text-align:center;
}
#u12365_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:108px;
  word-wrap:break-word;
}
#u12366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:34px;
}
#u12366 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:210px;
  width:144px;
  height:34px;
  font-size:14px;
}
#u12366_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12367_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:34px;
}
#u12367 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:210px;
  width:273px;
  height:34px;
  text-align:left;
}
#u12367_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:34px;
}
#u12368 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:210px;
  width:150px;
  height:34px;
}
#u12368_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12369_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:34px;
}
#u12369 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:244px;
  width:112px;
  height:34px;
  text-align:center;
}
#u12369_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:108px;
  word-wrap:break-word;
}
#u12370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:34px;
}
#u12370 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:244px;
  width:144px;
  height:34px;
  font-size:14px;
}
#u12370_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12371_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:34px;
}
#u12371 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:244px;
  width:273px;
  height:34px;
  text-align:left;
}
#u12371_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:34px;
}
#u12372 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:244px;
  width:150px;
  height:34px;
}
#u12372_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12373_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12373 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:241px;
  width:51px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12373_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u12374_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u12374 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:241px;
  width:51px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u12374_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u12375_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12375 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:443px;
  width:59px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12375_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u12376_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12376 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:443px;
  width:51px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12376_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u12377_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12377 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:635px;
  width:51px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12377_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u12378_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12378 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:635px;
  width:51px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12378_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u12379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:2px;
}
#u12379 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:250px;
  width:47px;
  height:1px;
  font-size:11px;
}
#u12379_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:43px;
  word-wrap:break-word;
}
#u12380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:2px;
}
#u12380 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:250px;
  width:47px;
  height:1px;
  font-size:11px;
  color:#CCCCCC;
}
#u12380_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:43px;
  word-wrap:break-word;
}
#u12381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:2px;
}
#u12381 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:452px;
  width:47px;
  height:1px;
  font-size:11px;
}
#u12381_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:43px;
  word-wrap:break-word;
}
#u12382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:2px;
}
#u12382 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:452px;
  width:47px;
  height:1px;
  font-size:11px;
}
#u12382_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:43px;
  word-wrap:break-word;
}
#u12383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:2px;
}
#u12383 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:644px;
  width:47px;
  height:1px;
  font-size:11px;
}
#u12383_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:43px;
  word-wrap:break-word;
}
#u12384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:2px;
}
#u12384 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:644px;
  width:47px;
  height:1px;
  font-size:11px;
}
#u12384_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:43px;
  word-wrap:break-word;
}
#u12385_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12385 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:375px;
  height:35px;
}
#u12385_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12386_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u12386 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:54px;
  width:27px;
  height:16px;
  font-size:13px;
}
#u12386_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u12387_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:center;
}
#u12387 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:52px;
  width:27px;
  height:16px;
  font-size:13px;
  text-align:center;
}
#u12387_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u12388_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:right;
}
#u12388 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:52px;
  width:27px;
  height:16px;
  font-size:13px;
  text-align:right;
}
#u12388_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u12389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12389 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:50px;
  width:20px;
  height:20px;
}
#u12389_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12390 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:50px;
  width:20px;
  height:20px;
}
#u12390_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12391_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:71px;
  height:19px;
}
#u12391p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:58px;
  height:6px;
}
#u12391p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:6px;
}
#u12391p001 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:22px;
  height:20px;
}
#u12391p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u12391p002 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:-9px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u12391p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u12391 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:251px;
  width:53px;
  height:1px;
}
#u12391_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12392_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12392 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:244px;
  width:127px;
  height:16px;
}
#u12392_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u12393_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12393 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:15px;
  width:141px;
  height:16px;
}
#u12393_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u12394 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:22px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u12394_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:59px;
  height:8px;
}
#u12394_seg1 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:-4px;
  width:8px;
  height:9px;
}
#u12394_seg2 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:-3px;
  width:16px;
  height:8px;
}
#u12394_seg3 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:19px;
  height:18px;
}
#u12394_seg4 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:-8px;
  width:19px;
  height:18px;
}
#u12394_text {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12395 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:50px;
  width:20px;
  height:20px;
}
#u12395_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
