body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1283px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14819 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u14819_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14820_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u14820 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  font-size:16px;
}
#u14820_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:371px;
  word-wrap:break-word;
}
#u14821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u14821 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:12px;
  width:12px;
  height:22px;
  font-size:18px;
}
#u14821_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u14822 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14823 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:0px;
  width:679px;
  height:186px;
}
#u14824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u14824 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  text-align:left;
}
#u14824_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u14825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:36px;
}
#u14825 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:579px;
  height:36px;
  text-align:left;
}
#u14825_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u14826 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:100px;
  height:30px;
  text-align:left;
}
#u14826_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u14827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:30px;
}
#u14827 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:36px;
  width:579px;
  height:30px;
  text-align:left;
}
#u14827_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u14828 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:100px;
  height:30px;
  text-align:left;
}
#u14828_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u14829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:30px;
}
#u14829 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:66px;
  width:579px;
  height:30px;
  text-align:left;
}
#u14829_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:575px;
  word-wrap:break-word;
}
#u14830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u14830 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:96px;
  width:100px;
  height:30px;
  text-align:left;
}
#u14830_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u14831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:30px;
}
#u14831 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:96px;
  width:579px;
  height:30px;
  text-align:left;
}
#u14831_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:575px;
  word-wrap:break-word;
}
#u14832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u14832 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:126px;
  width:100px;
  height:30px;
  text-align:left;
}
#u14832_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u14833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:30px;
}
#u14833 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:126px;
  width:579px;
  height:30px;
  text-align:left;
}
#u14833_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u14834 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:156px;
  width:100px;
  height:30px;
  text-align:left;
}
#u14834_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u14835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:30px;
}
#u14835 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:156px;
  width:579px;
  height:30px;
  text-align:left;
}
#u14835_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14836 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14837 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:185px;
  width:682px;
  height:282px;
}
#u14838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u14838 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u14838_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u14839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:30px;
}
#u14839 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:159px;
  height:30px;
  text-align:left;
}
#u14839_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:155px;
  word-wrap:break-word;
}
#u14840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:30px;
}
#u14840 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:0px;
  width:273px;
  height:30px;
  text-align:left;
}
#u14840_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:269px;
  word-wrap:break-word;
}
#u14841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u14841 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:0px;
  width:150px;
  height:30px;
  text-align:left;
}
#u14841_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:146px;
  word-wrap:break-word;
}
#u14842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:67px;
}
#u14842 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:67px;
}
#u14842_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:96px;
  word-wrap:break-word;
}
#u14843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:67px;
}
#u14843 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:30px;
  width:159px;
  height:67px;
  text-align:left;
}
#u14843_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:155px;
  word-wrap:break-word;
}
#u14844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:67px;
}
#u14844 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:30px;
  width:273px;
  height:67px;
  text-align:left;
}
#u14844_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:269px;
  word-wrap:break-word;
}
#u14845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:67px;
}
#u14845 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:30px;
  width:150px;
  height:67px;
  text-align:left;
}
#u14845_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u14846 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:97px;
  width:100px;
  height:68px;
}
#u14846_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u14847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:68px;
}
#u14847 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:97px;
  width:159px;
  height:68px;
  text-align:left;
}
#u14847_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:155px;
  word-wrap:break-word;
}
#u14848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:68px;
}
#u14848 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:97px;
  width:273px;
  height:68px;
  text-align:left;
}
#u14848_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:269px;
  word-wrap:break-word;
}
#u14849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:68px;
}
#u14849 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:97px;
  width:150px;
  height:68px;
  text-align:left;
}
#u14849_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:146px;
  word-wrap:break-word;
}
#u14850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:38px;
}
#u14850 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:165px;
  width:100px;
  height:38px;
}
#u14850_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u14851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:38px;
}
#u14851 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:165px;
  width:159px;
  height:38px;
  text-align:left;
}
#u14851_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:155px;
  word-wrap:break-word;
}
#u14852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:38px;
}
#u14852 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:165px;
  width:273px;
  height:38px;
  text-align:left;
}
#u14852_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:269px;
  word-wrap:break-word;
}
#u14853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:38px;
}
#u14853 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:165px;
  width:150px;
  height:38px;
  text-align:left;
}
#u14853_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:146px;
  word-wrap:break-word;
}
#u14854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:79px;
}
#u14854 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:203px;
  width:100px;
  height:79px;
}
#u14854_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:96px;
  word-wrap:break-word;
}
#u14855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:79px;
}
#u14855 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:203px;
  width:159px;
  height:79px;
  text-align:left;
}
#u14855_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:155px;
  word-wrap:break-word;
}
#u14856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:79px;
}
#u14856 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:203px;
  width:273px;
  height:79px;
  text-align:left;
}
#u14856_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:269px;
  word-wrap:break-word;
}
#u14857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:79px;
}
#u14857 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:203px;
  width:150px;
  height:79px;
  text-align:left;
}
#u14857_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14858_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:339px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14858 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:375px;
  height:339px;
}
#u14858_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:32px;
}
#u14859 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:57px;
  width:39px;
  height:32px;
}
#u14859_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14860_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u14860 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:66px;
  width:52px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u14860_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u14861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u14861 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:99px;
  width:375px;
  height:1px;
}
#u14861_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14862 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:64px;
  width:20px;
  height:20px;
}
#u14862_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14863 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:64px;
  width:20px;
  height:20px;
}
#u14863_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14864 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:64px;
  width:20px;
  height:20px;
}
#u14864_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14865 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:64px;
  width:20px;
  height:20px;
}
#u14865_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14866 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:64px;
  width:20px;
  height:20px;
}
#u14866_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14867_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u14867 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:110px;
  width:89px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u14867_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u14868_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u14868 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:277px;
  width:375px;
  height:1px;
}
#u14868_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14869_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:right;
}
#u14869 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:259px;
  width:47px;
  height:16px;
  color:#666666;
  text-align:right;
}
#u14869_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u14870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:51px;
}
#u14870 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:308px;
  width:75px;
  height:51px;
}
#u14870_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u14871 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:321px;
  width:25px;
  height:25px;
}
#u14871_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14872_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u14872 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:326px;
  width:31px;
  height:16px;
  text-align:right;
}
#u14872_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u14873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14873 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:450px;
  width:140px;
  height:40px;
}
#u14873_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
