body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12767_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12767 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u12767_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12768_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12768 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  font-size:16px;
}
#u12768_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:371px;
  word-wrap:break-word;
}
#u12769_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u12769 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:12px;
  width:12px;
  height:22px;
  font-size:18px;
}
#u12769_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u12770_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:623px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12770 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:375px;
  height:623px;
}
#u12770_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12771_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:576px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12771 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:55px;
  width:352px;
  height:576px;
}
#u12771_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u12772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:67px;
}
#u12772 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:156px;
  width:352px;
  height:67px;
}
#u12772_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:67px;
}
#u12773 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:304px;
  width:352px;
  height:67px;
}
#u12773_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:67px;
}
#u12774 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:476px;
  width:352px;
  height:67px;
}
#u12774_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12775 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12776 {
  border-width:0px;
  position:absolute;
  left:701px;
  top:0px;
  width:679px;
  height:186px;
}
#u12777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u12777 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u12777_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u12778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:36px;
}
#u12778 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:579px;
  height:36px;
  color:#515151;
  text-align:left;
}
#u12778_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:575px;
  word-wrap:break-word;
}
#u12779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12779 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:100px;
  height:30px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u12779_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u12780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:30px;
}
#u12780 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:36px;
  width:579px;
  height:30px;
  text-align:left;
}
#u12780_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12781 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:100px;
  height:30px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u12781_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u12782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:30px;
}
#u12782 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:66px;
  width:579px;
  height:30px;
  text-align:left;
}
#u12782_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:575px;
  word-wrap:break-word;
}
#u12783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12783 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:96px;
  width:100px;
  height:30px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u12783_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u12784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:30px;
}
#u12784 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:96px;
  width:579px;
  height:30px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#515151;
  text-align:left;
}
#u12784_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:575px;
  word-wrap:break-word;
}
#u12785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12785 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:126px;
  width:100px;
  height:30px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u12785_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u12786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:30px;
}
#u12786 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:126px;
  width:579px;
  height:30px;
  color:#515151;
  text-align:left;
}
#u12786_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12787 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:156px;
  width:100px;
  height:30px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#515151;
  text-align:left;
}
#u12787_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u12788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:30px;
}
#u12788 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:156px;
  width:579px;
  height:30px;
  color:#515151;
  text-align:left;
}
#u12788_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12789 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12790 {
  border-width:0px;
  position:absolute;
  left:701px;
  top:185px;
  width:679px;
  height:278px;
}
#u12791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u12791 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u12791_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:108px;
  word-wrap:break-word;
}
#u12792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u12792 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:0px;
  width:144px;
  height:30px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u12792_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:140px;
  word-wrap:break-word;
}
#u12793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:30px;
}
#u12793 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:0px;
  width:273px;
  height:30px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u12793_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:269px;
  word-wrap:break-word;
}
#u12794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u12794 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:0px;
  width:150px;
  height:30px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u12794_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:146px;
  word-wrap:break-word;
}
#u12795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:36px;
}
#u12795 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:112px;
  height:36px;
  text-align:center;
}
#u12795_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:108px;
  word-wrap:break-word;
}
#u12796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:36px;
}
#u12796 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:30px;
  width:144px;
  height:36px;
}
#u12796_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:36px;
}
#u12797 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:30px;
  width:273px;
  height:36px;
  text-align:left;
}
#u12797_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u12798 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:30px;
  width:150px;
  height:36px;
}
#u12798_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:36px;
}
#u12799 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:112px;
  height:36px;
  text-align:center;
}
#u12799_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:108px;
  word-wrap:break-word;
}
#u12800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:36px;
}
#u12800 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:66px;
  width:144px;
  height:36px;
}
#u12800_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:36px;
}
#u12801 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:66px;
  width:273px;
  height:36px;
  text-align:left;
}
#u12801_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u12802 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:66px;
  width:150px;
  height:36px;
}
#u12802_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:36px;
}
#u12803 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:102px;
  width:112px;
  height:36px;
  text-align:center;
}
#u12803_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:108px;
  word-wrap:break-word;
}
#u12804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:36px;
}
#u12804 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:102px;
  width:144px;
  height:36px;
}
#u12804_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:36px;
}
#u12805 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:102px;
  width:273px;
  height:36px;
  text-align:left;
}
#u12805_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u12806 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:102px;
  width:150px;
  height:36px;
}
#u12806_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:36px;
}
#u12807 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:138px;
  width:112px;
  height:36px;
  text-align:center;
}
#u12807_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:108px;
  word-wrap:break-word;
}
#u12808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:36px;
}
#u12808 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:138px;
  width:144px;
  height:36px;
  font-size:14px;
}
#u12808_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:36px;
}
#u12809 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:138px;
  width:273px;
  height:36px;
  text-align:left;
}
#u12809_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u12810 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:138px;
  width:150px;
  height:36px;
}
#u12810_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:36px;
}
#u12811 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:174px;
  width:112px;
  height:36px;
  text-align:center;
}
#u12811_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:108px;
  word-wrap:break-word;
}
#u12812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:36px;
}
#u12812 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:174px;
  width:144px;
  height:36px;
  font-size:14px;
}
#u12812_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:36px;
}
#u12813 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:174px;
  width:273px;
  height:36px;
  text-align:left;
}
#u12813_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u12814 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:174px;
  width:150px;
  height:36px;
}
#u12814_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:34px;
}
#u12815 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:210px;
  width:112px;
  height:34px;
  text-align:center;
}
#u12815_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:108px;
  word-wrap:break-word;
}
#u12816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:34px;
}
#u12816 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:210px;
  width:144px;
  height:34px;
  font-size:14px;
}
#u12816_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:34px;
}
#u12817 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:210px;
  width:273px;
  height:34px;
  text-align:left;
}
#u12817_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:34px;
}
#u12818 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:210px;
  width:150px;
  height:34px;
}
#u12818_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:34px;
}
#u12819 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:244px;
  width:112px;
  height:34px;
  text-align:center;
}
#u12819_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:108px;
  word-wrap:break-word;
}
#u12820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:34px;
}
#u12820 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:244px;
  width:144px;
  height:34px;
  font-size:14px;
}
#u12820_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:34px;
}
#u12821 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:244px;
  width:273px;
  height:34px;
  text-align:left;
}
#u12821_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:34px;
}
#u12822 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:244px;
  width:150px;
  height:34px;
}
#u12822_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
