body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1249px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u75_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1162px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:22px;
  width:1162px;
  height:108px;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1162px;
  word-wrap:break-word;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:424px;
  width:1223px;
  height:360px;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:150px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:50px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:0px;
  width:650px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:646px;
  word-wrap:break-word;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:50px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:0px;
  width:323px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:319px;
  word-wrap:break-word;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:100px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:50px;
  width:150px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:50px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:50px;
  width:650px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:646px;
  word-wrap:break-word;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:50px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:50px;
  width:323px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:319px;
  word-wrap:break-word;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:151px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:100px;
  height:151px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:65px;
  width:96px;
  word-wrap:break-word;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:151px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:150px;
  height:151px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:65px;
  width:146px;
  word-wrap:break-word;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:151px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:100px;
  width:650px;
  height:151px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:646px;
  word-wrap:break-word;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:151px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:100px;
  width:323px;
  height:151px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:65px;
  width:319px;
  word-wrap:break-word;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:109px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:251px;
  width:100px;
  height:109px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:96px;
  word-wrap:break-word;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:109px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:251px;
  width:150px;
  height:109px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:146px;
  word-wrap:break-word;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:109px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:251px;
  width:650px;
  height:109px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:646px;
  word-wrap:break-word;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:109px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:251px;
  width:323px;
  height:109px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:319px;
  word-wrap:break-word;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:374px;
  width:1224px;
  height:50px;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1224px;
  height:50px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1224px;
  height:50px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:1220px;
  word-wrap:break-word;
}
#u95_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1199px;
  height:192px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:167px;
  width:1199px;
  height:192px;
  font-size:20px;
  color:#000000;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1199px;
  word-wrap:break-word;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:857px;
  width:1200px;
  height:133px;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:50px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:105px;
  word-wrap:break-word;
}
#u99_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:50px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:0px;
  width:381px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:377px;
  word-wrap:break-word;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:50px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:0px;
  width:600px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:596px;
  word-wrap:break-word;
}
#u101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:0px;
  width:110px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:106px;
  word-wrap:break-word;
}
#u102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:83px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:109px;
  height:83px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:105px;
  word-wrap:break-word;
}
#u103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:83px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:50px;
  width:381px;
  height:83px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u103_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:377px;
  word-wrap:break-word;
}
#u104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:83px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:50px;
  width:600px;
  height:83px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u104_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:596px;
  word-wrap:break-word;
}
#u105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:83px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:50px;
  width:110px;
  height:83px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:center;
}
#u105_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:106px;
  word-wrap:break-word;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:808px;
  width:1200px;
  height:50px;
}
#u107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u107_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:1196px;
  word-wrap:break-word;
}
