body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13424_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13424 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u13424_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u13425 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  font-size:16px;
}
#u13425_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:371px;
  word-wrap:break-word;
}
#u13426 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13427 {
  border-width:0px;
  position:absolute;
  left:701px;
  top:0px;
  width:679px;
  height:186px;
}
#u13428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u13428 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u13428_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u13429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:36px;
}
#u13429 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:579px;
  height:36px;
  color:#515151;
  text-align:left;
}
#u13429_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:575px;
  word-wrap:break-word;
}
#u13430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u13430 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:100px;
  height:30px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u13430_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u13431_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:30px;
}
#u13431 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:36px;
  width:579px;
  height:30px;
  text-align:left;
}
#u13431_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13432_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u13432 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:100px;
  height:30px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u13432_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u13433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:30px;
}
#u13433 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:66px;
  width:579px;
  height:30px;
  text-align:left;
}
#u13433_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:575px;
  word-wrap:break-word;
}
#u13434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u13434 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:96px;
  width:100px;
  height:30px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u13434_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u13435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:30px;
}
#u13435 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:96px;
  width:579px;
  height:30px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#515151;
  text-align:left;
}
#u13435_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:575px;
  word-wrap:break-word;
}
#u13436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u13436 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:126px;
  width:100px;
  height:30px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u13436_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u13437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:30px;
}
#u13437 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:126px;
  width:579px;
  height:30px;
  color:#515151;
  text-align:left;
}
#u13437_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u13438 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:156px;
  width:100px;
  height:30px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#515151;
  text-align:left;
}
#u13438_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u13439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:30px;
}
#u13439 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:156px;
  width:579px;
  height:30px;
  color:#515151;
  text-align:left;
}
#u13439_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13440 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13441 {
  border-width:0px;
  position:absolute;
  left:701px;
  top:185px;
  width:679px;
  height:384px;
}
#u13442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u13442 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u13442_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:108px;
  word-wrap:break-word;
}
#u13443_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u13443 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:0px;
  width:144px;
  height:30px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u13443_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:140px;
  word-wrap:break-word;
}
#u13444_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:30px;
}
#u13444 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:0px;
  width:273px;
  height:30px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u13444_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:269px;
  word-wrap:break-word;
}
#u13445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u13445 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:0px;
  width:150px;
  height:30px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u13445_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:146px;
  word-wrap:break-word;
}
#u13446_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:36px;
}
#u13446 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:112px;
  height:36px;
  text-align:center;
}
#u13446_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:36px;
}
#u13447 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:30px;
  width:144px;
  height:36px;
}
#u13447_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13448_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:36px;
}
#u13448 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:30px;
  width:273px;
  height:36px;
  text-align:left;
}
#u13448_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u13449 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:30px;
  width:150px;
  height:36px;
}
#u13449_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:36px;
}
#u13450 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:112px;
  height:36px;
  text-align:center;
}
#u13450_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:36px;
}
#u13451 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:66px;
  width:144px;
  height:36px;
}
#u13451_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13452_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:36px;
}
#u13452 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:66px;
  width:273px;
  height:36px;
  text-align:left;
}
#u13452_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u13453 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:66px;
  width:150px;
  height:36px;
}
#u13453_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:36px;
}
#u13454 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:102px;
  width:112px;
  height:36px;
  text-align:center;
}
#u13454_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:36px;
}
#u13455 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:102px;
  width:144px;
  height:36px;
}
#u13455_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:36px;
}
#u13456 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:102px;
  width:273px;
  height:36px;
  text-align:left;
}
#u13456_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u13457 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:102px;
  width:150px;
  height:36px;
}
#u13457_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:36px;
}
#u13458 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:138px;
  width:112px;
  height:36px;
  text-align:center;
}
#u13458_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:36px;
}
#u13459 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:138px;
  width:144px;
  height:36px;
  font-size:14px;
}
#u13459_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:36px;
}
#u13460 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:138px;
  width:273px;
  height:36px;
  text-align:left;
}
#u13460_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u13461 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:138px;
  width:150px;
  height:36px;
}
#u13461_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13462_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:36px;
}
#u13462 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:174px;
  width:112px;
  height:36px;
  text-align:center;
}
#u13462_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:36px;
}
#u13463 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:174px;
  width:144px;
  height:36px;
  font-size:14px;
}
#u13463_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:36px;
}
#u13464 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:174px;
  width:273px;
  height:36px;
  text-align:left;
}
#u13464_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u13465 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:174px;
  width:150px;
  height:36px;
}
#u13465_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:36px;
}
#u13466 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:210px;
  width:112px;
  height:36px;
  text-align:center;
}
#u13466_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:36px;
}
#u13467 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:210px;
  width:144px;
  height:36px;
  font-size:14px;
}
#u13467_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:36px;
}
#u13468 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:210px;
  width:273px;
  height:36px;
  text-align:left;
}
#u13468_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u13469 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:210px;
  width:150px;
  height:36px;
}
#u13469_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:34px;
}
#u13470 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:246px;
  width:112px;
  height:34px;
  text-align:center;
}
#u13470_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:34px;
}
#u13471 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:246px;
  width:144px;
  height:34px;
  font-size:14px;
}
#u13471_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:34px;
}
#u13472 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:246px;
  width:273px;
  height:34px;
  text-align:left;
}
#u13472_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:34px;
}
#u13473 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:246px;
  width:150px;
  height:34px;
}
#u13473_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:36px;
}
#u13474 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:280px;
  width:112px;
  height:36px;
  text-align:center;
}
#u13474_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:36px;
}
#u13475 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:280px;
  width:144px;
  height:36px;
  font-size:14px;
}
#u13475_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:36px;
}
#u13476 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:280px;
  width:273px;
  height:36px;
  text-align:left;
}
#u13476_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u13477 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:280px;
  width:150px;
  height:36px;
}
#u13477_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:34px;
}
#u13478 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:316px;
  width:112px;
  height:34px;
  text-align:center;
}
#u13478_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:34px;
}
#u13479 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:316px;
  width:144px;
  height:34px;
}
#u13479_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:34px;
}
#u13480 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:316px;
  width:273px;
  height:34px;
  text-align:left;
}
#u13480_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:34px;
}
#u13481 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:316px;
  width:150px;
  height:34px;
}
#u13481_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:34px;
}
#u13482 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:350px;
  width:112px;
  height:34px;
  text-align:center;
}
#u13482_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:34px;
}
#u13483 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:350px;
  width:144px;
  height:34px;
}
#u13483_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:34px;
}
#u13484 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:350px;
  width:273px;
  height:34px;
  text-align:left;
}
#u13484_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:34px;
}
#u13485 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:350px;
  width:150px;
  height:34px;
}
#u13485_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13486_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:416px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13486 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:251px;
  width:375px;
  height:416px;
}
#u13486_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13487_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u13487 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:263px;
  width:91px;
  height:19px;
  font-size:16px;
}
#u13487_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u13488_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13488 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:306px;
  width:247px;
  height:40px;
}
#u13488_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  word-wrap:break-word;
}
#u13489_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u13489 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:328px;
  width:65px;
  height:16px;
  color:#999999;
}
#u13489_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u13490_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13490 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:380px;
  width:247px;
  height:40px;
}
#u13490_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  word-wrap:break-word;
}
#u13491_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u13491 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:402px;
  width:65px;
  height:16px;
  color:#999999;
}
#u13491_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u13492_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13492 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:451px;
  width:247px;
  height:40px;
}
#u13492_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  word-wrap:break-word;
}
#u13493_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u13493 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:474px;
  width:65px;
  height:16px;
  color:#999999;
}
#u13493_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u13494_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13494 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:526px;
  width:247px;
  height:40px;
}
#u13494_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  word-wrap:break-word;
}
#u13495_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u13495 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:1459px;
  width:65px;
  height:16px;
  color:#999999;
}
#u13495_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u13496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:59px;
}
#u13496 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:293px;
  width:86px;
  height:59px;
}
#u13496_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13497_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:59px;
}
#u13497 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:367px;
  width:86px;
  height:59px;
}
#u13497_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:59px;
}
#u13498 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:438px;
  width:86px;
  height:59px;
}
#u13498_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13499_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:59px;
}
#u13499 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:513px;
  width:86px;
  height:59px;
}
#u13499_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13500 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:375px;
  height:119px;
  overflow:hidden;
  visibility:hidden;
}
#u13500_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:119px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13500_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13501_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:119px;
}
#u13501 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:119px;
  font-size:16px;
}
#u13501_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:371px;
  word-wrap:break-word;
}
#u13502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u13502 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:99px;
  width:10px;
  height:10px;
}
#u13502_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13503_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u13503 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:99px;
  width:10px;
  height:10px;
}
#u13503_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13504 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:375px;
  height:119px;
  overflow:hidden;
}
#u13504_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:119px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13504_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:119px;
}
#u13505 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:119px;
  font-size:16px;
}
#u13505_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:371px;
  word-wrap:break-word;
}
#u13506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u13506 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:99px;
  width:10px;
  height:10px;
}
#u13506_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13507_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u13507 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:99px;
  width:10px;
  height:10px;
}
#u13507_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13508_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:84px;
  height:19px;
}
#u13508p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-3px;
  width:70px;
  height:6px;
}
#u13508p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:6px;
}
#u13508p001 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-9px;
  width:22px;
  height:20px;
}
#u13508p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u13508p002 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:-9px;
  width:24px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u13508p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u13508 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:467px;
  width:66px;
  height:1px;
}
#u13508_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13509_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13509 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:460px;
  width:57px;
  height:16px;
}
#u13509_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u13510_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u13510 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:549px;
  width:65px;
  height:16px;
  color:#999999;
}
#u13510_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u13511_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13511 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:601px;
  width:247px;
  height:40px;
}
#u13511_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  word-wrap:break-word;
}
#u13512_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:59px;
}
#u13512 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:588px;
  width:86px;
  height:59px;
}
#u13512_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u13513 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:623px;
  width:65px;
  height:16px;
  color:#999999;
}
#u13513_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u13514_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13514 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:262px;
  width:41px;
  height:16px;
}
#u13514_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u13515_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13515 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:162px;
  width:375px;
  height:90px;
}
#u13515_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13516_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:center;
}
#u13516 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:222px;
  width:1px;
  height:16px;
  font-size:13px;
  text-align:center;
}
#u13516_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u13517_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:40px;
}
#u13517 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:178px;
  width:42px;
  height:40px;
}
#u13517_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13518_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:center;
}
#u13518 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:225px;
  width:53px;
  height:16px;
  font-size:13px;
  text-align:center;
}
#u13518_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u13519_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:40px;
}
#u13519 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:178px;
  width:42px;
  height:40px;
}
#u13519_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13520_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:center;
}
#u13520 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:225px;
  width:53px;
  height:16px;
  font-size:13px;
  text-align:center;
}
#u13520_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u13521_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:40px;
}
#u13521 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:178px;
  width:42px;
  height:40px;
}
#u13521_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13522_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:center;
}
#u13522 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:225px;
  width:53px;
  height:16px;
  font-size:13px;
  text-align:center;
}
#u13522_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u13523_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:40px;
}
#u13523 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:178px;
  width:42px;
  height:40px;
}
#u13523_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13524_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:center;
}
#u13524 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:225px;
  width:53px;
  height:16px;
  font-size:13px;
  text-align:center;
}
#u13524_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u13525_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:84px;
  height:19px;
}
#u13525p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:72px;
  height:6px;
}
#u13525p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:6px;
}
#u13525p001 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-9px;
  width:22px;
  height:20px;
}
#u13525p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u13525p002 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:-9px;
  width:24px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u13525p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u13525 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:197px;
  width:66px;
  height:1px;
}
#u13525_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13526_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13526 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:190px;
  width:57px;
  height:16px;
}
#u13526_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
