body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:832px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6785_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6785 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u6785_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6786_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6786 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  font-size:16px;
}
#u6786_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u6787_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u6787 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:12px;
  width:12px;
  height:22px;
  font-size:18px;
}
#u6787_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u6788 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6789 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6790 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:464px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:4px;
  -moz-box-shadow:0px 1px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow:0px 1px 4px rgba(0, 0, 0, 0.2);
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u6791 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:138px;
  width:375px;
  height:464px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u6791_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6792 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6793_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u6793 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:138px;
  width:375px;
  height:44px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u6793_text {
  border-width:0px;
  position:absolute;
  left:24px;
  top:11px;
  width:327px;
  word-wrap:break-word;
}
#u6794 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u6795 {
  border-width:0px;
  position:absolute;
  left:811px;
  top:154px;
  width:12px;
  height:12px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u6795_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6796 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:35px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6797 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:543px;
  width:141px;
  height:35px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6797_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u6798 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6799 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:198px;
  width:300px;
  height:325px;
}
#u6800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:45px;
}
#u6800 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:45px;
  font-size:12px;
  color:#999999;
}
#u6800_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:56px;
  word-wrap:break-word;
}
#u6801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:45px;
}
#u6801 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:115px;
  height:45px;
  font-size:12px;
  color:#999999;
}
#u6801_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:111px;
  word-wrap:break-word;
}
#u6802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:45px;
}
#u6802 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:0px;
  width:125px;
  height:45px;
  font-size:12px;
  color:#999999;
}
#u6802_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:121px;
  word-wrap:break-word;
}
#u6803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u6803 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:60px;
  height:40px;
  font-size:12px;
  color:#666666;
}
#u6803_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:40px;
}
#u6804 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:45px;
  width:115px;
  height:40px;
  font-size:12px;
  color:#666666;
}
#u6804_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:111px;
  word-wrap:break-word;
}
#u6805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u6805 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:45px;
  width:125px;
  height:40px;
  font-size:12px;
  color:#666666;
}
#u6805_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u6806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u6806 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:85px;
  width:60px;
  height:40px;
  font-size:12px;
  color:#666666;
}
#u6806_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:40px;
}
#u6807 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:85px;
  width:115px;
  height:40px;
  font-size:12px;
  color:#666666;
}
#u6807_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:111px;
  word-wrap:break-word;
}
#u6808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u6808 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:85px;
  width:125px;
  height:40px;
  font-size:12px;
  color:#666666;
}
#u6808_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u6809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u6809 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:125px;
  width:60px;
  height:40px;
  font-size:12px;
  color:#666666;
}
#u6809_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:40px;
}
#u6810 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:125px;
  width:115px;
  height:40px;
  font-size:12px;
  color:#666666;
}
#u6810_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:111px;
  word-wrap:break-word;
}
#u6811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u6811 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:125px;
  width:125px;
  height:40px;
  font-size:12px;
  color:#666666;
}
#u6811_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u6812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u6812 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:165px;
  width:60px;
  height:40px;
  font-size:12px;
  color:#666666;
}
#u6812_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:40px;
}
#u6813 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:165px;
  width:115px;
  height:40px;
  font-size:12px;
  color:#666666;
}
#u6813_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:111px;
  word-wrap:break-word;
}
#u6814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u6814 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:165px;
  width:125px;
  height:40px;
  font-size:12px;
  color:#666666;
}
#u6814_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u6815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u6815 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:205px;
  width:60px;
  height:40px;
  font-size:12px;
  color:#666666;
}
#u6815_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:40px;
}
#u6816 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:205px;
  width:115px;
  height:40px;
  font-size:12px;
  color:#666666;
}
#u6816_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:111px;
  word-wrap:break-word;
}
#u6817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u6817 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:205px;
  width:125px;
  height:40px;
  font-size:12px;
  color:#666666;
}
#u6817_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u6818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u6818 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:245px;
  width:60px;
  height:40px;
  font-size:12px;
  color:#666666;
}
#u6818_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:40px;
}
#u6819 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:245px;
  width:115px;
  height:40px;
  font-size:12px;
  color:#666666;
}
#u6819_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:111px;
  word-wrap:break-word;
}
#u6820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u6820 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:245px;
  width:125px;
  height:40px;
  font-size:12px;
  color:#666666;
}
#u6820_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u6821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u6821 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:285px;
  width:60px;
  height:40px;
  font-size:12px;
  color:#666666;
}
#u6821_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:40px;
}
#u6822 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:285px;
  width:115px;
  height:40px;
  font-size:12px;
  color:#666666;
}
#u6822_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:111px;
  word-wrap:break-word;
}
#u6823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u6823 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:285px;
  width:125px;
  height:40px;
  font-size:12px;
  color:#666666;
}
#u6823_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u6824 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:252px;
  width:18px;
  height:16px;
}
#u6824_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6824_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6825 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:294px;
  width:18px;
  height:16px;
}
#u6825_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6825_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6826 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:336px;
  width:18px;
  height:16px;
}
#u6826_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6826_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6827 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:373px;
  width:18px;
  height:16px;
}
#u6827_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6827_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6828 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:416px;
  width:18px;
  height:16px;
}
#u6828_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6828_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6829 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:456px;
  width:18px;
  height:16px;
}
#u6829_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6829_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6830 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:495px;
  width:18px;
  height:16px;
}
#u6830_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6830_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6831 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:20px;
}
#u6832 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:84px;
  width:375px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:20px;
}
#u6832_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:335px;
  word-wrap:break-word;
}
#u6833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u6833 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:84px;
  width:129px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u6833_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:129px;
  word-wrap:break-word;
}
#u6834 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:20px;
}
#u6835 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:123px;
  width:375px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:20px;
}
#u6835_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:335px;
  word-wrap:break-word;
}
#u6836_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u6836 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:123px;
  width:129px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u6836_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:129px;
  word-wrap:break-word;
}
#u6837 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6838_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:157px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6838 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:242px;
  width:375px;
  height:157px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6838_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u6839 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:259px;
  width:60px;
  height:60px;
}
#u6839_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  text-align:center;
}
#u6840 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:319px;
  width:161px;
  height:14px;
  font-size:11px;
  text-align:center;
}
#u6840_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u6841_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6841 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:355px;
  width:100px;
  height:30px;
}
#u6841_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u6842 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6843_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:20px;
}
#u6843 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:162px;
  width:375px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:20px;
}
#u6843_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:335px;
  word-wrap:break-word;
}
#u6844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u6844 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:162px;
  width:129px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u6844_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:129px;
  word-wrap:break-word;
}
#u6845 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:370px;
  width:0px;
  height:0px;
}
#u6845_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:223px;
  height:8px;
}
#u6845_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:19px;
  height:18px;
}
#u6845_seg2 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:-9px;
  width:18px;
  height:18px;
}
#u6845_text {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6846 {
  position:absolute;
  left:0px;
  top:241px;
  visibility:hidden;
}
#u6846_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:158px;
  background-image:none;
}
#u6846_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6847 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6848 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6849_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:20px;
}
#u6849 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:20px;
}
#u6849_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:335px;
  word-wrap:break-word;
}
#u6850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u6850 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:129px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u6850_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:129px;
  word-wrap:break-word;
}
#u6851 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6852_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:20px;
}
#u6852 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:78px;
  width:375px;
  height:40px;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:20px;
}
#u6852_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:335px;
  word-wrap:break-word;
}
#u6853_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u6853 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:78px;
  width:129px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u6853_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:129px;
  word-wrap:break-word;
}
#u6854 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6855_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:20px;
}
#u6855 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:39px;
  width:375px;
  height:40px;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:20px;
}
#u6855_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:335px;
  word-wrap:break-word;
}
#u6856_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u6856 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:39px;
  width:129px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u6856_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:129px;
  word-wrap:break-word;
}
#u6857 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6858_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:20px;
}
#u6858 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:117px;
  width:375px;
  height:41px;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:20px;
}
#u6858_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:335px;
  word-wrap:break-word;
}
#u6859_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u6859 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:117px;
  width:129px;
  height:41px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u6859_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:129px;
  word-wrap:break-word;
}
#u6860 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:627px;
  width:375px;
  height:40px;
}
#u6860_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u6861 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
}
#u6862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u6862 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u6862_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u6863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:40px;
}
#u6863 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:0px;
  width:187px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1890FF;
}
#u6863_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u6864_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u6864 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:55px;
  width:335px;
  height:30px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u6864_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:335px;
  word-wrap:break-word;
}
#u6865_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u6865 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:212px;
  width:335px;
  height:30px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u6865_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:335px;
  word-wrap:break-word;
}
#u6866_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:157px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6866 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:620px;
  width:300px;
  height:157px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6866_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6867_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1890FF;
}
#u6867 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:732px;
  width:300px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1890FF;
}
#u6867_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1890FF;
}
#u6867.mouseDown {
}
#u6867_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u6868_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6868 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:620px;
  width:300px;
  height:55px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6868_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  word-wrap:break-word;
}
#u6869_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:20px;
}
#u6869 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:675px;
  width:300px;
  height:54px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:20px;
}
#u6869_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u6870 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:668px;
  width:0px;
  height:0px;
}
#u6870_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:140px;
}
#u6870_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:132px;
  width:336px;
  height:8px;
}
#u6870_seg2 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:109px;
  width:8px;
  height:31px;
}
#u6870_seg3 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:18px;
  height:19px;
}
#u6870_seg4 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:103px;
  width:18px;
  height:18px;
}
#u6870_text {
  border-width:0px;
  position:absolute;
  left:60px;
  top:128px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
