body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8032 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8033 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:0px;
  width:679px;
  height:186px;
}
#u8034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u8034 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u8034_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u8035_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:36px;
}
#u8035 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:579px;
  height:36px;
  color:#515151;
  text-align:left;
}
#u8035_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:575px;
  word-wrap:break-word;
}
#u8036_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8036 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:100px;
  height:30px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u8036_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u8037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:30px;
}
#u8037 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:36px;
  width:579px;
  height:30px;
  text-align:left;
}
#u8037_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8038_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8038 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:100px;
  height:30px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u8038_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u8039_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:30px;
}
#u8039 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:66px;
  width:579px;
  height:30px;
  text-align:left;
}
#u8039_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:575px;
  word-wrap:break-word;
}
#u8040_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8040 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:96px;
  width:100px;
  height:30px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u8040_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u8041_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:30px;
}
#u8041 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:96px;
  width:579px;
  height:30px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#515151;
  text-align:left;
}
#u8041_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:575px;
  word-wrap:break-word;
}
#u8042_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8042 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:126px;
  width:100px;
  height:30px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u8042_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u8043_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:30px;
}
#u8043 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:126px;
  width:579px;
  height:30px;
  color:#515151;
  text-align:left;
}
#u8043_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8044_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8044 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:156px;
  width:100px;
  height:30px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#515151;
  text-align:left;
}
#u8044_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u8045_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:30px;
}
#u8045 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:156px;
  width:579px;
  height:30px;
  color:#515151;
  text-align:left;
}
#u8045_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8046 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8047 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:185px;
  width:679px;
  height:503px;
}
#u8048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u8048 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u8048_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:108px;
  word-wrap:break-word;
}
#u8049_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u8049 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:0px;
  width:144px;
  height:30px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u8049_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:140px;
  word-wrap:break-word;
}
#u8050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:30px;
}
#u8050 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:0px;
  width:273px;
  height:30px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u8050_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:269px;
  word-wrap:break-word;
}
#u8051_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u8051 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:0px;
  width:150px;
  height:30px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u8051_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:146px;
  word-wrap:break-word;
}
#u8052_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:36px;
}
#u8052 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:112px;
  height:36px;
  text-align:center;
}
#u8052_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:108px;
  word-wrap:break-word;
}
#u8053_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:36px;
}
#u8053 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:30px;
  width:144px;
  height:36px;
}
#u8053_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:140px;
  word-wrap:break-word;
}
#u8054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:36px;
}
#u8054 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:30px;
  width:273px;
  height:36px;
  text-align:left;
}
#u8054_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:269px;
  word-wrap:break-word;
}
#u8055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u8055 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:30px;
  width:150px;
  height:36px;
}
#u8055_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8056_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:36px;
}
#u8056 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:112px;
  height:36px;
  text-align:center;
}
#u8056_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:108px;
  word-wrap:break-word;
}
#u8057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:36px;
}
#u8057 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:66px;
  width:144px;
  height:36px;
}
#u8057_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:140px;
  word-wrap:break-word;
}
#u8058_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:36px;
}
#u8058 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:66px;
  width:273px;
  height:36px;
  text-align:left;
}
#u8058_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:269px;
  word-wrap:break-word;
}
#u8059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u8059 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:66px;
  width:150px;
  height:36px;
}
#u8059_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:67px;
}
#u8060 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:102px;
  width:112px;
  height:67px;
  text-align:center;
}
#u8060_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:108px;
  word-wrap:break-word;
}
#u8061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:67px;
}
#u8061 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:102px;
  width:144px;
  height:67px;
}
#u8061_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:140px;
  word-wrap:break-word;
}
#u8062_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:67px;
}
#u8062 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:102px;
  width:273px;
  height:67px;
  text-align:left;
}
#u8062_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:269px;
  word-wrap:break-word;
}
#u8063_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:67px;
}
#u8063 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:102px;
  width:150px;
  height:67px;
}
#u8063_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:36px;
}
#u8064 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:169px;
  width:112px;
  height:36px;
  text-align:center;
}
#u8064_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:108px;
  word-wrap:break-word;
}
#u8065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:36px;
}
#u8065 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:169px;
  width:144px;
  height:36px;
  font-size:14px;
}
#u8065_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:140px;
  word-wrap:break-word;
}
#u8066_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:36px;
}
#u8066 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:169px;
  width:273px;
  height:36px;
  text-align:left;
}
#u8066_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:269px;
  word-wrap:break-word;
}
#u8067_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u8067 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:169px;
  width:150px;
  height:36px;
}
#u8067_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:61px;
}
#u8068 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:205px;
  width:112px;
  height:61px;
  text-align:center;
}
#u8068_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:108px;
  word-wrap:break-word;
}
#u8069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:61px;
}
#u8069 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:205px;
  width:144px;
  height:61px;
  font-size:14px;
}
#u8069_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:140px;
  word-wrap:break-word;
}
#u8070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:61px;
}
#u8070 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:205px;
  width:273px;
  height:61px;
  text-align:left;
}
#u8070_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:269px;
  word-wrap:break-word;
}
#u8071_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:61px;
}
#u8071 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:205px;
  width:150px;
  height:61px;
}
#u8071_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8072_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:151px;
}
#u8072 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:266px;
  width:112px;
  height:151px;
  text-align:center;
}
#u8072_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:65px;
  width:108px;
  word-wrap:break-word;
}
#u8073_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:151px;
}
#u8073 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:266px;
  width:144px;
  height:151px;
  font-size:14px;
}
#u8073_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:65px;
  width:140px;
  word-wrap:break-word;
}
#u8074_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:151px;
}
#u8074 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:266px;
  width:273px;
  height:151px;
  text-align:left;
}
#u8074_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:269px;
  word-wrap:break-word;
}
#u8075_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:151px;
}
#u8075 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:266px;
  width:150px;
  height:151px;
}
#u8075_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8076_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:86px;
}
#u8076 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:417px;
  width:112px;
  height:86px;
  text-align:center;
}
#u8076_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:108px;
  word-wrap:break-word;
}
#u8077_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:86px;
}
#u8077 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:417px;
  width:144px;
  height:86px;
  font-size:14px;
}
#u8077_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:140px;
  word-wrap:break-word;
}
#u8078_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:86px;
}
#u8078 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:417px;
  width:273px;
  height:86px;
  text-align:left;
}
#u8078_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:269px;
  word-wrap:break-word;
}
#u8079_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:86px;
}
#u8079 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:417px;
  width:150px;
  height:86px;
}
#u8079_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8081_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8081 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u8081_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8082_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8082 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  font-size:16px;
}
#u8082_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:371px;
  word-wrap:break-word;
}
#u8083_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u8083 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:12px;
  width:12px;
  height:22px;
  font-size:18px;
}
#u8083_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u8084_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:377px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8084 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:375px;
  height:377px;
}
#u8084_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8085 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:121px;
  width:12px;
  height:16px;
}
#u8085_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8085_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8086_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:95px;
}
#u8086 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:80px;
  width:175px;
  height:95px;
}
#u8086_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8087_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8087 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:80px;
  width:150px;
  height:48px;
}
#u8087_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u8088_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8088 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:160px;
  width:59px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8088_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u8089 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:156px;
  width:60px;
  height:20px;
}
#u8089_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u8090 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u8091_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8091 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8091_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u8092_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u8092 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:21px;
  height:20px;
}
#u8092_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u8093_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u8093 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:0px;
  width:19px;
  height:20px;
}
#u8093_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  word-wrap:break-word;
}
#u8094_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8094 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:134px;
  width:97px;
  height:16px;
}
#u8094_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u8095 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:236px;
  width:12px;
  height:16px;
}
#u8095_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8095_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8096_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:95px;
}
#u8096 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:196px;
  width:175px;
  height:95px;
}
#u8096_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8097_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u8097 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:196px;
  width:150px;
  height:48px;
  color:#999999;
}
#u8097_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u8098_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u8098 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:275px;
  width:59px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u8098_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u8099 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:271px;
  width:60px;
  height:20px;
}
#u8099_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u8100 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u8101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8101 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8101_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u8102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u8102 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:21px;
  height:20px;
}
#u8102_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u8103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u8103 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:0px;
  width:19px;
  height:20px;
}
#u8103_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  word-wrap:break-word;
}
#u8104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u8104 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:250px;
  width:97px;
  height:16px;
  color:#999999;
}
#u8104_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u8105 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:352px;
  width:12px;
  height:16px;
}
#u8105_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8105_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:95px;
}
#u8106 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:312px;
  width:175px;
  height:95px;
}
#u8106_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8107 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:312px;
  width:150px;
  height:48px;
}
#u8107_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u8108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8108 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:391px;
  width:59px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8108_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u8109 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:388px;
  width:60px;
  height:20px;
}
#u8109_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u8110 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u8111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8111 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8111_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u8112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u8112 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:21px;
  height:20px;
}
#u8112_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u8113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u8113 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:0px;
  width:19px;
  height:20px;
}
#u8113_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  word-wrap:break-word;
}
#u8114_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8114 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:366px;
  width:97px;
  height:16px;
}
#u8114_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u8115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:208px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8115 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:420px;
  width:375px;
  height:208px;
}
#u8115_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:2px;
}
#u8116 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:447px;
  width:165px;
  height:1px;
  font-size:14px;
}
#u8116_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-17px;
  width:161px;
  word-wrap:break-word;
}
#u8117 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:627px;
  width:375px;
  height:40px;
}
#u8117_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u8118 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
}
#u8119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u8119 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u8119_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:184px;
  word-wrap:break-word;
}
#u8120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:40px;
}
#u8120 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:0px;
  width:187px;
  height:40px;
}
#u8120_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:183px;
  word-wrap:break-word;
}
#u8121 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:639px;
  width:12px;
  height:16px;
}
#u8121_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8121_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:69px;
}
#u8122 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:464px;
  width:170px;
  height:69px;
}
#u8122_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8123 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:543px;
  width:170px;
  height:48px;
}
#u8123_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u8124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:69px;
}
#u8124 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:464px;
  width:170px;
  height:69px;
}
#u8124_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8125 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:543px;
  width:169px;
  height:48px;
}
#u8125_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u8126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8126 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:14px;
  width:20px;
  height:20px;
}
#u8126_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8127 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:426px;
  width:20px;
  height:20px;
}
#u8127_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u8128 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:56px;
  width:34px;
  height:14px;
  font-size:11px;
}
#u8128_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u8129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8129 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:55px;
  width:20px;
  height:20px;
}
#u8129_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8130 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:57px;
  width:12px;
  height:16px;
}
#u8130_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8130_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8131_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8131 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:16px;
  width:141px;
  height:16px;
}
#u8131_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  word-wrap:break-word;
}
#u8132 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:24px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u8132_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:76px;
  height:8px;
}
#u8132_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:19px;
  height:18px;
}
#u8132_seg2 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-9px;
  width:19px;
  height:18px;
}
#u8132_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8133_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8133 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:473px;
  width:141px;
  height:32px;
}
#u8133_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  word-wrap:break-word;
}
#u8134 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:489px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u8134_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:63px;
  height:8px;
}
#u8134_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:19px;
  height:18px;
}
#u8134_seg2 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:-9px;
  width:19px;
  height:18px;
}
#u8134_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8135 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:628px;
  width:141px;
  height:32px;
}
#u8135_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  word-wrap:break-word;
}
#u8136 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:644px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u8136_seg0 {
  border-width:0px;
  position:absolute;
  left:-55px;
  top:-4px;
  width:59px;
  height:8px;
}
#u8136_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-9px;
  width:19px;
  height:18px;
}
#u8136_seg2 {
  border-width:0px;
  position:absolute;
  left:-64px;
  top:-9px;
  width:19px;
  height:18px;
}
#u8136_text {
  border-width:0px;
  position:absolute;
  left:-78px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8137 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:680px;
  width:141px;
  height:16px;
}
#u8137_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  word-wrap:break-word;
}
#u8138 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:688px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u8138_seg0 {
  border-width:0px;
  position:absolute;
  left:-398px;
  top:-4px;
  width:398px;
  height:8px;
}
#u8138_seg1 {
  border-width:0px;
  position:absolute;
  left:-398px;
  top:-27px;
  width:8px;
  height:31px;
}
#u8138_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-9px;
  width:19px;
  height:18px;
}
#u8138_seg3 {
  border-width:0px;
  position:absolute;
  left:-403px;
  top:-36px;
  width:18px;
  height:19px;
}
#u8138_text {
  border-width:0px;
  position:absolute;
  left:-260px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8139 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:601px;
  width:51px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8139_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u8140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:2px;
}
#u8140 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:609px;
  width:47px;
  height:1px;
  font-size:11px;
}
#u8140_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:43px;
  word-wrap:break-word;
}
#u8141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8141 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:601px;
  width:51px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8141_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u8142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:2px;
}
#u8142 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:609px;
  width:47px;
  height:1px;
  font-size:11px;
}
#u8142_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:43px;
  word-wrap:break-word;
}
